.techfont{
 font-family: 'Russo One', sans-serif;
 font-size: 1.5em;
 margin-bottom: 10px;
}

.bigbrand{
  font-size: 1.5em;
}

.centerstage
{
  margin-left: auto;
  margin-right: auto;
}

.postdate{
  text-align: center;
}

.posttitle{
  font-family: 'Russo One', sans-serif;
  font-size: 3em;
}

.postcontent{
  font-family: 'Russo One', sans-serif;
  font-size: 1em;
}

.btn-comment{
  position: absolute;
  right: 0px;
}

.setting-background{
  background-image: url("background.jpg");
  padding-bottom: 20%
}

.upper{
  margin-top: 20%;
  margin-left: 40%;
}
